<div class="form-bigbox">
  <div class="form-box">
		<%= form_for :post, url: posts_path do |f| %>
		    <%= f.text_area :content, placeholder: "Content", class: 'form-control' %>
		    <br>
		    <div class="actions">
			  	<%= f.submit "Submit" %>
			  </div>

		<% end %>
	</div>
</div>